
*.py~

*.py#

*.pyc

.#recurse_score_strategy.py

.#board.py

.#keyboard_strategy.py

.#board_scorer.py

.#board_scorer_test.py

.#board_generator.py

.#recurse_strategy_test.py

.#recurse_strategy_test.py
